aiodns==3.0.0
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==21.4.0
base58==2.1.1
bitarray==1.2.2
ccxt==1.68.51
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
cryptography==36.0.1
cytoolz==0.11.2
dateparser==1.0.0
distlib==0.3.4
dydx-v3-python==1.4.5
ecdsa==0.16.0
eth-abi==2.1.1
eth-account==0.5.6
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
filelock==3.4.2
frozenlist==1.3.0
hexbytes==0.2.2
idna==3.3
importlib-metadata==0.23
ipfshttpclient==0.8.0a2
jsonschema==3.2.0
lru-dict==1.1.7
more-itertools==8.12.0
mpmath==1.0.0
multiaddr==0.0.9
multidict==5.2.0
netaddr==0.8.0
packaging==21.3
parsimonious==0.8.1
platformdirs==2.4.1
pluggy==0.13.1
protobuf==3.19.3
py==1.11.0
pycares==4.1.2
pycparser==2.21
pycryptodome==3.12.0
pyparsing==3.0.6
pyrsistent==0.18.1
pytest==4.6.11
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
regex==2022.1.18
requests==2.27.1
requests-mock==1.6.0
rlp==2.0.1
six==1.16.0
sympy==1.6
toml==0.10.2
toolz==0.11.2
tox==3.13.2
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.8
varint==1.0.2
virtualenv==20.13.0
wcwidth==0.2.5
web3==5.26.0
websockets==9.1
yarl==1.7.2
zipp==3.7.0
